<form #updatebookForm="ngForm" (ngSubmit)="onUpdate()">
    <div class="form-group" style="padding: 25px 400px 0px 0;"> 
        <label >Title</label>
        <input  class="form-control" required name="Title"  [(ngModel)] = "book.Title">
    </div>

    <div class="form-group" style="padding: 25px 400px 0px 0;"> 
        <label >Year</label>
        <input  class="form-control" required name="Year"  [(ngModel)]="book.Year">
    </div>
    <div class="form-group" style="padding: 25px 400px 0px 0;"> 
        <label >Publisher</label>
        <input  class="form-control" required name="Publisher" [(ngModel)]="book.Publisher">
    </div>
    <!-- <div class="form-group" style="padding: 25px 400px 0px 0;"> 
        <label >Author</label>
    <li *ngFor="let book of book.Author">
        <input  class="form-control" required name="Name_of_Author" [(ngModel)]="book.Name_of_Author">
    </li>
    </div>
    <div class="form-group" style="padding: 25px 400px 0px 0;"> 
        <label >Year of Birth</label>
        <li *ngFor="let book of book.Author">
        <input  class="form-control" required name="Year_of_Birth" [(ngModel)]="book.Year_of_Birth">
    </li>
    </div> -->
    <br>
    <button type="button" (click)= "onUpdate()" class="btn btn-primary">Save</button>
</form>


