<footer class="footer">
  <div class="container">
      <p class="test-muted text-center">
              <img src="assets/images/books1.jpg"/><img src="assets/images/books1.jpg"/><img src="assets/images/books1.jpg"/>
              <img src="assets/images/books1.jpg"/><img src="assets/images/books1.jpg"/><img src="assets/images/books1.jpg"/>
              <img src="assets/images/books1.jpg"/><img src="assets/images/books1.jpg"/><img src="assets/images/books1.jpg"/>
              <img src="assets/images/books1.jpg"/>             
          <br />
          <small class="text black-50 text-center">&copy; {{year|date:"yyyy"}} My Book World &trade; All Rights Reserved.
          </small>
      </p>
  </div>
</footer>




