<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title><link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Cart</h1>
    <div id="prodContainer" style="margin: 1%;">
        <div>Product ID: <%=p.id%></div>
        <div>Product Name: <%=p.name%></div>
        <div>Product Price: <%=p.price%></div>
        <div>Product Description: <%=p.desc%></div>
        <div style="margin-top: 2%;"><button>Checkout</button></div>
    </div>    
</body>
</html>